<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinDevKeyboard">

        <!-- IME service implementation -->
        <service
            android:name=".ime.DevKeyboardService"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true"
            android:supportsInlineSuggestions="true"
            android:supportsSwitchingToNextInputMethod="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <!-- IME configuration -->
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- Settings screen for the keyboard -->
        <activity
            android:name=".settings.DevKeyboardSettingsActivity"
            android:label="@string/ime_settings_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>